include ./header
include ./navbar

doctype html
html(lang="en")
	+header(theme, title)
	body
		+navbar
		.container
			.row.row-top
				h1= h1
					small= h1Small
			.row.row-custom
				h2 Hello World
