include ./header
include ./navbar

doctype html
html(lang="en")
	+header(theme, title)
	body
		+navbar
		.splash
			.container
				.row
					.col-lg-12
						h1.text-center= h1
							small= h1Small
				.row
					.col-lg-12.text-center
						button(type="button" href="#work" class="btn btn-success") Contact
		.skills
			.container
				.row
					.col-lg-12
						h2#skills Skills
						p C++, Java, JavaScript, NodeJS, mySQL, and HTML/CSS.
		.education
			.container
				.row
					.col-lg-12
						h2#education Education
						p Bachelor's of Science in Computer Science,
							| Missouri State University.
		.work
			.container
				.row
					.col-lg-12
						h2#work Work
						p O'Reilly Auto Parts - Software Developer 5 Months, Intern Software Developer 7 Months.
		.footer
			.container
				.row
					.col-lg-4
						h2.text-center Contact
						p Bryan Novak
					.col-lg-4
						h2.text-center Social
						p twitter
					.col-lg-4
						h2.text-center Source
						p github
		.copyright
			.container
				.row
					.col-lg-12
						p.text-center Bryan J Novak, &copy; 2015.