mixin navbar
	nav.navbar.navbar-default.navbar-static-top
		.container-fluid
			.navbar-header
				button(type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#navbar1' aria-expanded='false' aria-controls='navbar')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a(href='#' class='navbar-brand') Bryan Novak
			#navbar1.collapse.navbar-collapse
				ul.nav.navbar-nav
					li
						a(href='#') Page 1
					li
						a(href='#') Page 2
					li
						a(href='#') Page 3