body {
	background:rgb(58,109,129);
	color:white;
}
.navbar {
	margin-bottom:0;
}
p {
	font-size:18px;
}
h1 {
	margin-bottom:25px;
}
h1 small {
	color:rgb(188,188,188);
}
.splash {
	background:rgb(25,25,25);
	padding:35px;
}

.skills {
	padding:35px;
}

.education {
	padding:35px;
}

.work {
	padding:35px;
}

.footer {
	padding:35px;
	background:rgb(55,55,55);
}
.footer h2 {
	color:rgb(199,215,162);
}
.footer p {
	color:white;
}

.copyright {
	padding:25px;
	color:white;
	background:rgb(35,35,35);
}
.copyright p {
	margin:0;
}